@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Alfa Slab One', cursive, sans-serif;
    background-color:rgb(253, 255, 122);
}

.header{
   display: flex;
   justify-content: center;
   background-color: rgb(255, 202, 133);
   border: 4px solid black;
}

.grid-container{
    position: absolute;
    left: 400px;
    bottom: 30px;
    width: 600px;
    height: 600px;
    background-color: rgb(252, 190, 109);
    border: 4px solid black;
    box-shadow: 0px 0px 10px rgb(63, 63, 249);
    display: grid;
    grid-template-columns: repeat(3,200px);
}

.box{
    margin-left: 4px;
    margin-top: 2px;
    padding: 6px;
    width: 180px;
    height: 180px;
    background-color: rgb(194, 111, 34);
    border: 1px solid black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}

.box.x{
    cursor: not-allowed;
}

.box.o{
    cursor: not-allowed;
}

.box:hover{
    transform: scale(0.9);
    box-shadow: 0px 0px 10px rgb(63, 63, 249);
}

.btn{
    font-size: 1.5rem;
    margin-top: 30px;
    margin-left: 250px;
    cursor: pointer;
}

.btn:hover{
    color: blue;
}

.box.x::before,
.box.x::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 90px;
    background-color: black;
}

.box.x::before{
    transform: rotate(45deg);
}

.box.o::before,
.box.o::after{
    content: '';
    position: absolute;
    border-radius: 50px;
}

.box.o::before{
    width: 80px;
    height: 80px;
    background-color: black;
}

.box.o::after{
    width: 60px;
    height: 60px;
    background-color: rgb(253, 255, 122);
}